<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.bupt.springmvc.web.dao.AppointmentMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.bupt.springmvc.web.model.Appointment" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="doctorId" property="doctorid" jdbcType="CHAR" />
    <result column="customerId" property="customerid" jdbcType="CHAR" />
    <result column="realseId" property="realseid" jdbcType="CHAR" />
    <result column="idCard" property="idcard" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="sectionName" property="sectionname" jdbcType="VARCHAR" />
    <result column="outpatientName" property="outpatientname" jdbcType="VARCHAR" />
    <result column="appointDate" property="appointdate" jdbcType="TIMESTAMP" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="customerName" property="customername" jdbcType="VARCHAR" />
    <result column="doctorName" property="doctorname" jdbcType="VARCHAR" />
    <result column="sectionArea" property="sectionarea" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, doctorId, customerId, realseId, idCard, type, sectionName, outpatientName, appointDate, 
    cost, telephone, customerName, doctorName, sectionArea
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.bupt.springmvc.web.model.AppointmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from appointment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from appointment
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from appointment
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.bupt.springmvc.web.model.AppointmentExample" >
    delete from appointment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.bupt.springmvc.web.model.Appointment" >
    insert into appointment (id, doctorId, customerId, 
      realseId, idCard, type, 
      sectionName, outpatientName, appointDate, 
      cost, telephone, customerName, 
      doctorName, sectionArea)
    values (#{id,jdbcType=CHAR}, #{doctorid,jdbcType=CHAR}, #{customerid,jdbcType=CHAR}, 
      #{realseid,jdbcType=CHAR}, #{idcard,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{sectionname,jdbcType=VARCHAR}, #{outpatientname,jdbcType=VARCHAR}, #{appointdate,jdbcType=TIMESTAMP}, 
      #{cost,jdbcType=DOUBLE}, #{telephone,jdbcType=VARCHAR}, #{customername,jdbcType=VARCHAR}, 
      #{doctorname,jdbcType=VARCHAR}, #{sectionarea,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.bupt.springmvc.web.model.Appointment" >
    insert into appointment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="doctorid != null" >
        doctorId,
      </if>
      <if test="customerid != null" >
        customerId,
      </if>
      <if test="realseid != null" >
        realseId,
      </if>
      <if test="idcard != null" >
        idCard,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sectionname != null" >
        sectionName,
      </if>
      <if test="outpatientname != null" >
        outpatientName,
      </if>
      <if test="appointdate != null" >
        appointDate,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="customername != null" >
        customerName,
      </if>
      <if test="doctorname != null" >
        doctorName,
      </if>
      <if test="sectionarea != null" >
        sectionArea,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="doctorid != null" >
        #{doctorid,jdbcType=CHAR},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=CHAR},
      </if>
      <if test="realseid != null" >
        #{realseid,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="sectionname != null" >
        #{sectionname,jdbcType=VARCHAR},
      </if>
      <if test="outpatientname != null" >
        #{outpatientname,jdbcType=VARCHAR},
      </if>
      <if test="appointdate != null" >
        #{appointdate,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="customername != null" >
        #{customername,jdbcType=VARCHAR},
      </if>
      <if test="doctorname != null" >
        #{doctorname,jdbcType=VARCHAR},
      </if>
      <if test="sectionarea != null" >
        #{sectionarea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.bupt.springmvc.web.model.AppointmentExample" resultType="java.lang.Integer" >
    select count(*) from appointment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update appointment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.doctorid != null" >
        doctorId = #{record.doctorid,jdbcType=CHAR},
      </if>
      <if test="record.customerid != null" >
        customerId = #{record.customerid,jdbcType=CHAR},
      </if>
      <if test="record.realseid != null" >
        realseId = #{record.realseid,jdbcType=CHAR},
      </if>
      <if test="record.idcard != null" >
        idCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.sectionname != null" >
        sectionName = #{record.sectionname,jdbcType=VARCHAR},
      </if>
      <if test="record.outpatientname != null" >
        outpatientName = #{record.outpatientname,jdbcType=VARCHAR},
      </if>
      <if test="record.appointdate != null" >
        appointDate = #{record.appointdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=DOUBLE},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.customername != null" >
        customerName = #{record.customername,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorname != null" >
        doctorName = #{record.doctorname,jdbcType=VARCHAR},
      </if>
      <if test="record.sectionarea != null" >
        sectionArea = #{record.sectionarea,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update appointment
    set id = #{record.id,jdbcType=CHAR},
      doctorId = #{record.doctorid,jdbcType=CHAR},
      customerId = #{record.customerid,jdbcType=CHAR},
      realseId = #{record.realseid,jdbcType=CHAR},
      idCard = #{record.idcard,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=TINYINT},
      sectionName = #{record.sectionname,jdbcType=VARCHAR},
      outpatientName = #{record.outpatientname,jdbcType=VARCHAR},
      appointDate = #{record.appointdate,jdbcType=TIMESTAMP},
      cost = #{record.cost,jdbcType=DOUBLE},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      customerName = #{record.customername,jdbcType=VARCHAR},
      doctorName = #{record.doctorname,jdbcType=VARCHAR},
      sectionArea = #{record.sectionarea,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.bupt.springmvc.web.model.Appointment" >
    update appointment
    <set >
      <if test="doctorid != null" >
        doctorId = #{doctorid,jdbcType=CHAR},
      </if>
      <if test="customerid != null" >
        customerId = #{customerid,jdbcType=CHAR},
      </if>
      <if test="realseid != null" >
        realseId = #{realseid,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        idCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="sectionname != null" >
        sectionName = #{sectionname,jdbcType=VARCHAR},
      </if>
      <if test="outpatientname != null" >
        outpatientName = #{outpatientname,jdbcType=VARCHAR},
      </if>
      <if test="appointdate != null" >
        appointDate = #{appointdate,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="customername != null" >
        customerName = #{customername,jdbcType=VARCHAR},
      </if>
      <if test="doctorname != null" >
        doctorName = #{doctorname,jdbcType=VARCHAR},
      </if>
      <if test="sectionarea != null" >
        sectionArea = #{sectionarea,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.bupt.springmvc.web.model.Appointment" >
    update appointment
    set doctorId = #{doctorid,jdbcType=CHAR},
      customerId = #{customerid,jdbcType=CHAR},
      realseId = #{realseid,jdbcType=CHAR},
      idCard = #{idcard,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      sectionName = #{sectionname,jdbcType=VARCHAR},
      outpatientName = #{outpatientname,jdbcType=VARCHAR},
      appointDate = #{appointdate,jdbcType=TIMESTAMP},
      cost = #{cost,jdbcType=DOUBLE},
      telephone = #{telephone,jdbcType=VARCHAR},
      customerName = #{customername,jdbcType=VARCHAR},
      doctorName = #{doctorname,jdbcType=VARCHAR},
      sectionArea = #{sectionarea,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>